.modal{
  position: fixed;
  display: flex;
  top:25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  justify-content: center;
  backdrop-filter: blur(5px);
  align-items: center;
  border-radius: 2rem;
  animation: slide 1s;
 
}

@keyframes slide{
  0%{
    transform: translateY(100%);
  }

  100%{
    transform: translateY(0);
  }
}

.modal_content{
  position: fixed;
  display: flex;
  width: 80%;
  height: 20%;
  opacity: 1;
  align-items: center;
}

.success{
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  color:  #91c13e;
}

.fail{
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  color: rgba(203, 0, 0, 0.741);

}

.close_button{
  position: absolute;
  right: 5%;
  top: 5%;
  width: 3vw;
  height: 3vw;
  min-width: 25px;
  min-height: 25px;
  background-color: rgba(255,255,255,0.5);
  border: none;
  display: flex;
  border-radius: 20%;
}

.close_button:hover{
  cursor: pointer;
}

.close_button > img {
  object-fit: cover;
  width: 100%;

}

.close_button > img:hover{
  cursor: pointer;
}


.visible{
  transform: translateY(0);
   visibility: visible;
   transition: all 1s;
 }

@media (max-width: 1200px) {
  .title > h3 {
    text-align: center;
  }


  .formInputs{
    width: 100%;
  }

  .form_message{
    width: 100%;
   
  }


}


@media (max-width: 550px) {
  .formContainer{
    width: 100%;
  }

  .modal{
    width: 100vw;
    height: 30vh;
    left: 0;
  }

  .modal_content{
    width: 90%;
    height: 10%;
  }

}





